{% extends 'front.html.twig' %}

{% block front %}
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4">Portfolio</h3>
            <div class="mb-5 row">
                <div class="col-2">
                    <a class="btn w-100 py-3 {{ album is null ? 'active' }}" href="{{ path('portfolio') }}">
                        Toutes
                    </a>
                </div>
                {% for a in albums %}
                    <div class="col-2">
                        <a class="btn w-100 py-3 {{ album == a ? 'active' }}" href="{{ path('portfolio', {id: a.id}) }}">
                            {{ a.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for media in medias %}
                    <div class="col-4 media mb-4">
                        <img class="w-100" src="{{ asset(media.path) }}" alt="{{ media.title }}">
                        <p class="text-center mb-0 mt-2 media-title">{{ media.title }}</p>
                    </div>
                {% endfor %}
            </div>
            {% if total is defined %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('portfolio', {page: 1}) }}">Première page</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="{{ path('portfolio', {page: page - 1}) }}">Précédent</a>
                            </li>
                        {% endif %}

                        {% for i in 1..total %}
                            <li class="page-item {% if i == page %}active{% endif %}">
                                <a class="page-link" href="{{ path('portfolio', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {% if page < total %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('portfolio', {page: page + 1}) }}">Suivant</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="{{ path('portfolio', {page: total}) }}">Dernière page</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}

